<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_forms.css">
    <link rel="icon" href="static/images\TechFit (5).png" type="image/x-icon">

    <title>Cadastro</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="static/images/foto_cad.jpg" alt="">
        </div>
        <div class="form">
            <form action="#" id="formulario">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{{url_for('index')}}">Voltar</a></button>
                    </div>
                </div>

                <div class="input-group ">
                    <div class="input-box">
                        <label for="firstname" class="labels">Nome<span class="error"></span></label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome">
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" name="email" placeholder="Digite seu email" required>
                        <small> error menssage</small>
                    </div>
                    <div class="input-box">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="tel" name="tel" placeholder="(xx) xxxx-xxxx" required>
                    </div> 
                
                    <div class="input-box">
                        <label for="number">Data de nascimento</label>
                        <input id="number" type="date" name="number" placeholder="dd/mm/aaaa" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>

                    <div class="input-box">
                        <label for="confirmPassword">Confirme sua Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required>
                    </div>

                </div>

                <div class="gender-inputs">
                    <div class="gender-title">
                        <h6>Gênero</h6>
                    </div>

                    <div class="gender-group">
                        <div class="gender-input">
                            <input id="gender-femele" type="radio" name="gender">
                            <label for="gender-femele">Feminino</label>
                        </div>

                        <div class="gender-input">
                            <input id="gender-male" type="radio" name="gender">
                            <label for="gender-male">Masculino</label>
                        </div>

                        <div class="gender-input">
                            <input id="gender-others" type="radio" name="gender">
                            <label for="gender-others">Outros</label>
                        </div>

                        <div class="gender-input">
                            <input id="gender-none" type="radio" name="gender">
                            <label for="gender-none">Prefiro não dizer</label>
                        </div>
                    </div>
                </div><br>
                <div class="gender-inputs">
                    <div class="gender-title">
                        <h6>Tipo de Usuário</h6>
                    </div>

                    <div class="gender-group-2">
                        <div class="gender-input">
                            <input id="user-personal" type="radio" name="user-type">
                            <label for="user-personal">Personal</label>
                        </div>

                        <div class="gender-input">
                            <input id="user-student" type="radio" name="user-type">
                            <label for="user-student">Aluno</label>
                        </div>

                        <div class="gender-input">
                            <input id="user-student" type="radio" name="user-type">
                            <label for="user-student">Administrador</label>
                        </div>

                        <div class="gender-input">
                            <input id="user-student" type="radio" name="user-type">
                            <label for="user-student">Visitante</label>
                        </div>
                        
                    </div>
                </div>

                <div class="continue-button">
                    <button><a href="#">Continuar</a> </button>
                </div>

            </form>
        </div>
    </div>
</body>

<script src="{{url_for('static', filename='static/scripts/script_cadastro.js')}}"></script>

</html>
