{% extends "base_admin.html" %}

{% block title %} Cadastro de Exercícios {% endblock %}

{% block titlePage %} Cadastro de Exercícios {% endblock %}

{% block style %}
<style>
    /* fonte fina  */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

    /* fonte grossa */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

    :root {
        --techfit-100: #ffff;
        --techfit-200: #006aa7;
        --techfit-300: #247ba0;
        --techfit-400: #006494;  /* Fundo escuro */
        --techfit-500: #e8f1f2;  /* Botões claros */
    }

    * {
        font-family: "Didact Gothic", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        width: 100%;
        min-height: 100vh; /* Mantém a altura mínima */
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        flex: 1; /* Faz o main ocupar o restante do espaço */
        padding: 20px; /* Espaçamento */
    }

    .div-cad_exercise {
        display: flex;
        flex-direction: column;
        background-color: #006aa7;
        color:#fff;
        width: 90%; 
        height: 80%; 
        max-width: 600px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
    }
 
    h1 {
        text-align: left;
        color: #fff;
        margin-bottom: 10px;
    }
    
    .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: #006aa7;
        border-radius: 10px;
        padding: 15px;
    }

    .input-group {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        padding-bottom: 30px;
    }

    .input-row {
        display: flex;
        justify-content: space-between; /* Ajusta o espaço entre os campos */
        gap: 20px; /* Espaço entre as colunas */
    }

    .input-box {
        width: 100%; /* A largura é 100% */
        display: flex;
        flex-direction: column;
    }

    .input-box label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-box input, select {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-box input:focus {
        border-color: #1C64F2;
        outline: none;
    }

    .continue-button {
        text-align: center;
        margin-top: 20px;
    }

    .continue-button button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 170px;
        margin-bottom: 5px;
        background-color: var(--techfit-500);  /* Botões claros */
        color: var(--techfit-400);  /* Texto azul escuro */
        border: 2px solid;
    }

    .continue-button button:hover {
        background-color:#006494;
        color:#fff;
        border: none; 
    }


    @media (max-width: 768px) {
        .input-box {
            width: 100%;
        }

        .form {
            padding: 15px;
        }

        .input-row {
            flex-direction: column; /* Para telas pequenas, empilha os campos */
        }
    }

</style>
{% endblock %}

{% block content %}

<div class="div-cad_exercise">
    <h1> Cadastrar Exercício</h1>
    <div class="form"> 
        <form method="POST" action="{{ url_for('profile.cadastrar_exercicio') }}">
            <div class="input-group">
                <div class="input-row">
                    <div class="input-box">
                        <label for="nome">Nome do Exercício:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>

                    <div class="input-box">
                        <label for="nivel">Nível:</label>
                        <select name='nivel' id="nivel_treino_edit" required>
                            <option value="none" disabled selected>Selecione</option>
                            <option value="Basico">Básico</option>
                            <option value="Intermediario">Intermediário</option>
                            <option value="Dificil">Difícil</option>
                        </select>
                    </div>
                   
                </div>

                <div class="input-row">
                    <div class="input-box">
                        <div class="input-box"> 
                            <label for="link">Link do Vídeo (YouTube):</label>
                            <input type="text" id="link" name="link" required>
                        </div>
                </div>
            </div>
            <div class="continue-button">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}