<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

  <head>
    <title>TechFit</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="icon" href="static/images\TechFit (5).png" type="image/x-icon">
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/bootstrap_inicial.css">
    <link rel="stylesheet" href="static/css/fonts_inicial.css">
    <link rel="stylesheet" href="static/css/style_inicial.css">
    <link rel="stylesheet" href="static/css/style_login.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
  </head>
  <body>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">

            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- Menu Hamburguer Responsivo -->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                
                  <div class="rd-navbar-brand"> <img src="static/images\Logo-techfit.png" alt="" width="180" height="30"/></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">

                      <li class="rd-nav-item">
                        <a class="rd-nav-link" href="/cadastro" style="color: white; text-decoration: none;">Cadastre-se</a>
                      </li>

                      <li class="rd-nav-item" >
                        <a class="rd-nav-link" href="#" style="color: white; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-primary" data-bs-whatever="@mdo">
                          <font style="vertical-align: inherit;"><font style="vertical-align: inherit; ">Login</font></font>
                        </a>
                      </li>
                
                    </ul>

                    <!--button LOGIN MODAL-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;" >
                      <div class="modal-dialog" >
                          <!-- a partir dessa de baixo muda a cor do fundo-->

                          <div class="modal-content">
                            <div class="modal-header"> <!--consegue mudar o backgroud-->

                                <div class="rd-navbar-brand" id="imagem_recorte"> 
                                  <img src="static/images\Slider-02-recorte.png"/>
                                </div>
                    
                                <h1 class="modal-title fs-5" id="exampleModalLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; color: #247ba0;">Login</font></font></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
        
                            <div class="modal-body"> <!--consegue mudar o backgroud-->
                            
                                <label class="nome_label" style="color: #247ba0; ">NOME</label>

                                <input  type="text" id="inputNome" class="form-control required" aria-describedby="passwordHelpBlock" >

                                <div style="margin-bottom: 20px;" id="passwordHelpBlock" class="form-text"><font style="vertical-align: inherit; "><font style="vertical-align: inherit;">
                                  <span>Não conter números, caracteres especiais ou emojis.</span>
                                  </font></font>
                                </div>
                                <label class="senha_label" style="color: #247ba0;">SENHA</label>
                                
                                <input type="password" id="inputPassword5" class="form-control required" aria-describedby="passwordHelpBlock">

                                <div id="passwordHelpBlock" class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                  <span>Sua senha deve ter de 8 a 20 caracteres, conter letras e números e não deve conter espaços ou emojis.</span>
                                  </font></font>
                                </div>
                            </div>

                            <div class="modal-footer" style="background-color: #E2ECED;">
                              <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fechar</font></font></button>-->
                              <button type="button" class="btn btn-primary" id="validar_button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
                            </div>
                          </div>
                      </div>          
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
      </header>

      <!-- Carrossel --> 
      <div id="carouselExampleFade" class="carousel slide carousel-fade">

        <div class="carousel-inner">

          <div class="carousel-item"> 
          <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="625" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: Primeiro slide" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777">-->
            <img src="static/images/foto4.png" alt="foto1" class="d-block w-100">
          </div>

          <div class="carousel-item active">
            <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="625" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: Segundo slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect></svg>-->
            <img src="static/images/foto 1.png" alt="foto2" class="d-block w-100">
          </div>

          <div class="carousel-item">
            <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="625" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: Terceiro slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect></svg>-->
            <img src="static/images/foto3.png" alt="foto3" class="d-block w-100">
          </div>

        </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Anterior</font></font></span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Próximo</font></font></span>
      </button>

    </div>
  
    
  <!-- End Example Code -->
      
        <!-- Swiper Pagination-->
        <div class="swiper-pagination__module">
          <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
          <div class="swiper-pagination__divider"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <!-- Serviços -->
      <section class="section section-sm section-first bg-default text-center">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp">
              <div class="figure-classic figure-classic-left"><img src="static/images\TechFit (5).png" alt="" width="513" height="561"/>
              </div>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-cropping1"></div>
                    <h5 class="box-icon-modern-title">Serviços</h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">We create better interior experiences through space planning services.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-cropping1"></div>
                    <h5 class="box-icon-modern-title">Sobre Nós</h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Testes página inicial.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-paintbrush9"></div>
                    <h5 class="box-icon-modern-title">Interior design</h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">We develop and implement better interior design concepts for you.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-chat55"></div>
                    <h5 class="box-icon-modern-title">Consultations</h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Our specialists are ready to consult you on any interior design related topic.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Section com fotos - GALERIA-->
      <section class='section_conteudo' style="height: 125vh; background-color: white;">
        <header class="header_gal">
            <h1 class="titulo_sct">Galeria</h1>
        </header>
        <main>
            <div class="gallery-container">
                <a href="static\images\galeria1.jpg" class="gallery-items">
                    <img src="static\images\galeria1.jpg">
                </a>
                <a href="static\images\galeria2.jpg" class="gallery-items">
                    <img src="static\images\galeria2.jpg">
                </a>
    
                <a href="static\images\galeria3.jpg" class="gallery-items">
                    <img src="static\images\galeria3.jpg">
                </a>
                <a href="static\images\galeria4.jpg" class="gallery-items">
                    <img src="static\images\galeria4.jpg">
                </a>
                <a href="static\images\galeria5.jpg" class="gallery-items">
                    <img src="static\images\galeria5.jpg">
                </a>
                <a href="static\images\galeria6.jpg" class="gallery-items">
                    <img src="static\images\galeria6.jpg">
                </a>
                <a href="static\images\galeria7.jpg" class="gallery-items">
                    <img src="static\images\galeria7.jpg">
                </a>
                <a href="static\images\galeria8.jpg" class="gallery-items">
                    <img src="static\images\galeria8.jpg">
                </a>
                <a href="static\images\galeria9.jpg" class="gallery-items">
                    <img src="static\images\galeria9.jpg">
                </a>
                <a href="static\images\galeria10.jpg" class="gallery-items">
                    <img src="static\images\galeria10.jpg">
                </a>
                <a href="static\images\galeria11.jpg" class="gallery-items2">
                    <img src="static\images\galeria11.jpg">
                </a>
            </div>        
        </main>
      </section>

      <!--Section 'SOBRE NÓS' - um texto sobre os desenvolvedores-->
      <section class='section_conteudo' style="height: 100vh; background-color: white; align-items: center; justify-content: center;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded border-right" src="static\images\TechFit - logos.png" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h1 class="titulo_sct">Sobre Nós</h1>
                        <p>Este projeto foi idealizado e desenvolvido por um time de alunos do curso de informática para internet do IFRN Campus Caicó, composto por Emily Medeiros, Mateus Lucena, Mickaelle Karine e  Riverson Paulo, que uniram seus conhecimentos para criar uma plataforma que conecta pessoas que desejam melhorar sua saúde física com personal trainers qualificados.

                        Com foco em facilitar a busca pelo personal ideal, a plataforma permite que usuários explorem opções e contratem um profissional que atenda suas necessidades e preferências, proporcionando uma experiência prática e acessível para todos que buscam alcançar seus objetivos.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
      
      <footer>
        <div class='footerContainer'>
          <div class="socialIcons">
            <a href="" class="fa-brands fa-facebook "></a>
            <a href="" class="fa-brands fa-instagram"></a>
            <a href="" class="fa-brands fa-twitter"></a>
            <a href="" class="fa-brands fa-youtube"></a>
            <a href="" class="fa-brands fa-google-plus "></a>
          </div>
  
          <!--<div class="footerNav">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">News</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Our Team</a></li>
            </ul>
          </div>-->
  
          <div class="footerBottom">
            <p>Copyright &copy; 2024; Desenvolvido pelos estudantes de Infoweb.</p>
          </div>
        </div>
      </footer>

    <!-- Javascript-->
    <script src="static/scripts/core.min_inicial.js"></script>
    <script src="static/scripts/script.js"></script>
    <script src="{{url_for('static', filename='scripts/script_login.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
