<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_forms.css">
    <link rel="icon" href="static/images\TechFit (5).png" type="image/x-icon">
    <title>Inserir Medidas</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="static/images/foto_cad.jpg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Inserir Medidas</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="armlength">Braço Direito</label>
                        <input id="armlength" type="text" name="armlength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="armlength">Braço Esquerdo</label>
                        <input id="armlength" type="text" name="armlength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="chestlength">Peito</label>
                        <input id="chestlength" type="text" name="chestlength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="hiplength">Quadril</label>
                        <input id="hiplength" type="text" name="hiplength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="calflength">Panturrilha Direita</label>
                        <input id="calflength" type="text" name="calflength" placeholder="Digite o comprimento" required>
                    </div>
                    
                    <div class="input-box">
                        <label for="calflength">Panturrilha Esquerda</label>
                        <input id="calflength" type="text" name="calflength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="calflength">Coxa Direita</label>
                        <input id="calflength" type="text" name="calflength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="calflength">Coxa Esquerda</label>
                        <input id="calflength" type="text" name="calflength" placeholder="Digite o comprimento" required>
                    </div>

                    <div class="input-box">
                        <label for="waist">Cintura</label>
                        <input id="waist" type="text" name="waist" placeholder="Digite o comprimento" required>
                    </div>


                </div>

                <div class="continue-button">
                    <button><a href="#">Salvar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>


</html>
