{% extends "base.html" %}

{% block title %} Medidas {% endblock %}

{% block titlePage %} Medidas {% endblock %}

{% block style %}
<style>
    /* fonte fina  */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

    /* fonte grossa */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

    :root {
        --techfit-100: #ffff;
        --techfit-200: #006aa7;
        --techfit-300: #247ba0;
        --techfit-400: #006494;  /* Fundo escuro */
        --techfit-500: #e8f1f2;  /* Botões claros */
    }
    * {
        font-family: "Didact Gothic", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    .profile-page {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .profile-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 40%;
        margin-right: 30px;
        padding: 2%;
        background-color: #006aa7;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        gap: 10px;
        overflow-y: auto; /* Permite rolagem vertical */
        max-height: 80vh; /* Limita a altura da div */
    }

    .profile-container1 h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .picture {
        width: 70%; /* Mantém o tamanho do contêiner */
        height: 0; /* Altura inicial zero para usar padding */
        padding-top: 70%; /* Mantém a proporção quadrada */
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        cursor: pointer;
        transition: color 300ms ease-in-out, background 300ms ease-in-out;
        outline: none;
        overflow: hidden;
        border-radius: 50%; 
        position: relative; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #picture__input {
        display: none;
    }

    .picture:hover {
        color: #777;
        background: #ccc;
    }

    .picture:active {
        border-color: turquoise;
        color: turquoise;
        background: #eee;
    }

    .picture:focus {
        color: #777;
        background: #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .picture__img {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%; /* Para manter a imagem circular */
        object-fit: cover; 
    }

    .profile-info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-height: 300px; 
        overflow-y: auto;
    }

    .profile-info1 .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }

    .profile-info1 .info-item p {
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .profile-info1 .info-item i {
        font-size: 18px;
    }

    .profile-container2 h1 {
        color: #fff;
    }

    .profile-container2 {
        display: flex;
        flex-direction: column;
        background-color: #006aa7;
        width: 100%; 
        max-width: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        padding: 0;
        gap: 10px;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .profile-info2 {
        color: #fff;
        height: 90%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 10px; 
    }

    h1 {
        color: #fff;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .form {
        display: flex;
        width: 100%;
        padding: 15px;
        justify-self: center;
        background-color: #006aa7;
        flex-direction: column;
        border-radius: 10px;
        overflow-y: auto; /* Permite rolagem vertical */
        max-height: 60vh; /* Limita a altura da div */
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .input-box {
        flex: 1 1 calc(50% - 20px);
        display: flex;
        flex-direction: column;
    }

    .input-box label {
        font-size: 14px;
        color: #fff;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-box input, select {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        color: var(--techfit-200);
    }

    .input-box input:focus {
        border-color: #1C64F2;
        outline: none;
    }

    .input-box input::placeholder {
        color: var(--techfit-200);
    }

    .continue-button {
        text-align: center;
        margin-top: 20px;
    }

    .continue-button button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 170px;
        margin-bottom: 5px;
        background-color: var(--techfit-500);  /* Botões claros */
        color: var(--techfit-400);  /* Texto azul escuro */
        border: 2px solid;
    }

    .continue-button button:hover {
        background-color: #006494;
        color: #fff;
    }

    .continue-button button a {
        color: white;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .input-box {
            flex: 1 1 100%;
        }

        .form {
            margin: 20px;
            padding: 15px;
        }

        .form-header .title h1 {
            font-size: 20px;
        }
    }

</style>

{% endblock %}

{% block content %}

<div class="profile-page">
    <div class="profile-container1">
        <form method="POST" action="{{ url_for('profile.upload_imagem') }}" enctype="multipart/form-data" class="picture">
            <label for="picture__input" tabIndex="0">
                <span class="picture__image">Escolha uma imagem</span>
                <img src="{{ url_for('profile.imagem_usuario', user_id=user_info.id) }}" alt="profile_image" class="picture__img">
            </label>
        </form>
        <h2>Perfil do {{ user_info.tipo_usuario}}</h2>
        <div class="profile-info1">
            <div class="info-item">
                <i class="fas fa-user"></i>
                <p>Nome: {{ user_info.nome }}</p>
            </div>
            <div class="info-item">
                <i class="fas fa-envelope"></i>
                <p>Email: {{ user_info.email }}</p>
            </div>
            <div class="info-item">
                <i class="fas fa-calendar-alt"></i>
                <p>Data de Nascimento: {{ user_info.data_nascimento }} </p>
            </div>
            <div class="info-item">
                <i class="fas fa-phone"></i>
                <p>Telefone: {{ user_info.telefone }}</p>
            </div>
        </div>
    </div>
    <div class="profile-container2">
        
        <div class="form">
            <h1>Inserir Medidas</h1>
            {% if get_flashed_messages() %}
                <div class="alert alert-warning">
                    {% with messages=get_flashed_messages() %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endwith %}
                </div>
            {% endif %}
            <form action="{{ url_for('training.medidas') }}" method="post">
                <div class="input-group">
                    <div class="input-box">
                        <label for="med-peito">Peito</label>
                        <input id="med-peito" type="text" name="med-peito" placeholder="Digite o comprimento em cm" required>
                    </div>
        
                    <div class="input-box">
                        <label for="med-quadril">Quadril</label>
                        <input id="med-quadril" type="text" name="med-quadril" placeholder="Digite o comprimento em cm" required>
                    </div>
        
                    <div class="input-box">
                        <label for="med-ombro">Ombro</label>
                        <input id="med-ombro" type="text" name="med-ombro" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-gluteo">Glúteo</label>
                        <input id="med-gluteo" type="text" name="med-gluteo" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-cintura">Cintura</label>
                        <input id="med-cintura" type="text" name="med-cintura" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-dorsal">Dorsal</label>
                        <input id="med-dorsal" type="text" name="med-dorsal" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-coxa_direita">Coxa Direita</label>
                        <input id="med-coxa_direita" type="text" name="med-coxa_direita" placeholder="Digite o comprimento em cm" required>
                    </div>
        
                    <div class="input-box">
                        <label for="med-coxa_esquerda">Coxa Esquerda</label>
                        <input id="med-coxa_esquerda" type="text" name="med-coxa_esquerda" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-biceps_direito">Bíceps Direito</label>
                        <input id="med-biceps_direito" type="text" name="med-biceps_direito" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-biceps_esquerdo">Bíceps Esquerdo</label>
                        <input id="med-biceps_esquerdo" type="text" name="med-biceps_esquerdo" placeholder="Digite o comprimento em cm" required>
                    </div>

                    <div class="input-box">
                        <label for="med-pantu_direita">Panturrilha Direita</label>
                        <input id="med-pantu_direita" type="text" name="med-pantu_direita" placeholder="Digite o comprimento em cm" required>
                    </div>
                    
                    <div class="input-box">
                        <label for="med-pantu_esquerda">Panturrilha Esquerda</label>
                        <input id="med-pantu_esquerda" type="text" name="med-pantu_esquerda" placeholder="Digite o comprimento em cm" required>
                    </div>
                </div>
                <br>
                <div class="continue-button">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
