{% extends "base.html" %}

{% block title %} Pagamento {% endblock %}

{% block titlePage %} Pagamento {% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

    :root {
        --techfit-100: #ffff;
        --techfit-200: #006aa7;
        --techfit-300: #247ba0;
        --techfit-400: #006494;
        --techfit-500: #e8f1f2;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Didact Gothic", sans-serif;
    }

    .profile-container1 {
        display: flex;
        background-color: #006aa7;
        color:#fff;
        margin: 0 auto;
        width: 80%;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
        overflow-y: auto;
        max-height: 90vh;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #1f242d;
        padding: 25px;
    }

    .container form {
        width: 700px;
        padding: 40px;
        background: #fff;
        border-radius: 10px;
    }

    .row {
        display: flex;
        gap: 200px;
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
    }

    .column .title {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .column .input-box {
        margin: 15px 0;
    }

    .input-box span {
        display: block;
        margin-bottom: 10px;
    }

    .input-box input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
    }

    .column .flex {
        display: flex;
        gap: 15px;
    }

    .flex .input-box {
        margin-top: 5px;
    }

    .input-box img {
        height: 26px; 
        margin-top: 5px; 
        filter: drop-shadow(0 0 1px #000);
    }
    
    form .btn {
        width: 20%; 
        margin: 20px auto 0; 
        padding: 12px; 
        background: #fff;
        border: none;
        outline: none;
        border-radius: 6px;
        font-size: 17px;
        color: #006aa7;
        cursor: pointer;
        transition: .5s;
        display: block; /* garante que o botão use o auto margin */
    }
    

    form .btn:hover {
        background: #006aa7;
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<div class="profile-page">
    <div class="profile-container1">
        <form action="">
            <div class="row">
                <!-- Coluna Endereço -->
                <div class="column">
                    <h3 class="title">Endereço de Cobrança</h3>
                    <div class="input-box">
                        <span>Nome completo:</span>
                        <input type="text" placeholder="">
                    </div>
                    <div class="input-box">
                        <span>Email:</span>
                        <input type="email" placeholder="example@example.com">
                    </div>
                    <div class="input-box">
                        <span>Endereço:</span>
                        <input type="text" placeholder="Bairro, rua e número">
                    </div>
                    <div class="input-box">
                        <span>Cidade:</span>
                        <input type="text" placeholder="">
                    </div>

                    <div class="flex">
                        <div class="input-box">
                            <span>Estado:</span>
                            <input type="text" placeholder="">
                        </div>
                        <div class="input-box">
                            <span>Código postal:</span>
                            <input type="number" placeholder="123 456">
                        </div>
                    </div>
                </div>

                <!-- Coluna Pagamento -->
                <div class="column">
                    <h3 class="title">Pagamento</h3>
                    <div class="input-box">
                        <span>Opções de pagamento:</span>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" alt="">
                        <img src="https://www.visa.com.br/dam/VCOM/regional/lac/brazil/newsroom/conheca-a-visa800x450.jpg" alt="">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNDV7XumbzU8pINrel_uCur45tmlVIhcDBNQ&s" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg" alt="">
                    </div>
                    <div class="input-box">
                        <span>Nome do cartão:</span>
                        <input type="text" placeholder="">
                    </div>
                    <div class="input-box">
                        <span>Número do cartão:</span>
                        <input type="number" placeholder="1111 2222 3333 4444">
                    </div>
                    <div class="input-box">
                        <span>Mês de validade:</span>
                        <input type="text" placeholder="">
                    </div>

                    <div class="flex">
                        <div class="input-box">
                            <span>Ano de validade:</span>
                            <input type="number" placeholder="">
                        </div>
                        <div class="input-box">
                            <span>CVV:</span>
                            <input type="number" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.method').on('click', function () {
            $('.method').removeClass('blue-border');
            $(this).addClass('blue-border');
        });

        var $cardInput = $('.input-fields input');

        $('.next-btn').on('click', function (e) {
            $cardInput.removeClass('warning');
            $cardInput.each(function () {
                var $this = $(this);
                if (!$this.val()) {
                    $this.addClass('warning');
                }
            });
        });
    });
</script>
{% endblock %}
