{% extends "base_personal.html" %}

{% block title %} Sugestões {% endblock %}

{% block titlePage %} Sugestões {% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

    :root {
        --techfit-100: #ffff;
        --techfit-200: #006aa7;
        --techfit-300: #247ba0;
        --techfit-400: #006494;  
        --techfit-500: #e8f1f2;  
    }

    * {
        font-family: "Didact Gothic", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        width: 100%;
        min-height: 100vh; 
        background-color: var(--techfit-200);
        color: var(--techfit-100);
        flex-direction: column; /* Flex para permitir o texto acima */
        align-items: center; /* Centraliza horizontalmente */
        justify-content: flex-start; /* Alinha no topo */
    }

    .welcome-text {
        text-align: center; /* Centraliza o texto */
        margin: 20px 0; /* Margem superior e inferior */
    }

    .div-sugestao {
        display: flex;
        flex-direction: column;
        background-color: #006aa7;
        color: var(--techfit-100);
        width: 90%; 
        max-width: 600px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto; /* Centraliza a div com margens automáticas */
    }

    h1 {
        text-align: left;
        color: var(--techfit-100);
        margin-bottom: 20px;
    }

    h2 {
        color: var(--techfit-400); /* Cor azul */
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
        line-height: 1.5; /* Melhora a legibilidade */
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"], input[type="email"] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    input[type="text"]:focus, input[type="email"]:focus {
        border-color: #1C64F2;
        outline: none;
    }

    .button_sug_container {
        display: flex;
        justify-content: center; /* Centraliza o botão */
        margin-top: 20px;
    }

    .button_sug {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        background-color: var(--techfit-500);
        color: var(--techfit-400);
        transition: background-color 0.3s ease;
        width: 100px; /* Largura fixa do botão */
        height: 45px; /* Altura fixa do botão */
    }

    .button_sug:hover {
        background-color: #006494;
        color: #fff;    
    }

    @media (max-width: 768px) {
        .contact-form {
            padding: 15px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="welcome-text">
    <h2>Olá!</h2>
    <div style="margin-bottom: 8px;"></div>
    <p>Nós, da equipe TechFit, estamos sempre em busca de oferecer a melhor experiência para nossos usuários. Pensando nisso, criamos esta página de sugestões para que você, personal trainer, também possa contribuir ativamente na construção e aprimoramento do nosso acervo. Sua opinião é muito importante para nós!</p>
</div>
<div style="margin-bottom: 34px;"></div>
<div class="div-sugestao">
    <h1>📹 Sugerir vídeo</h1>
    <form class="contact-form" action="https://formsubmit.co/suportetechfit@gmail.com" method="POST">
        <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="exemple@gmail.com" required>
        </div>
        <div>
            <label for="link">Link do vídeo</label>
            <input type="text" name="link" placeholder="https://www.youtube.com" required>
        </div>
        <div>
            <label for="message">Por que você está sugerindo este vídeo?</label>
            <input type="text" id="message" name="message" placeholder="Explique como este vídeo pode ajudar nossos usuários..." required>
        </div>
        <div class="button_sug_container">
            <button  class="button_sug" type="submit">Enviar</button>
        </div>
        <input type="hidden" name="_next" value="http://127.0.0.1:5000/thanks">
        <input type="hidden" name="_subject" value="New submission!">
    </form>
</div>
{% endblock %}