{% extends "base_admin.html" %}

{% block title %}Visualizar Alunos{% endblock %}
{% block titlePage %}Visualizar Alunos{% endblock %}


{% block content %}
<div class="profile-container2">
    <h1>Alunos Cadastrados</h1>
    <div class="profile-info2">
        {% for aluno in alunos %}
        <div class="info2-items">
            <strong>{{ aluno.use_nome }}</strong>
            <p>Email: {{ aluno.use_email }}</p>
            <p>Idade: {{ aluno.usu_idade }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}