{% extends "base_admin.html" %}

{% block title %}Visualizar Personais{% endblock %}
{% block titlePage %}Visualizar Personais{% endblock %}

{% block content %}
<div class="profile-container2">
    <h1>Personais Cadastrados</h1>
    <div class="profile-info2">
        {% for personal in personais %}
        <div class="info2-items">
            <strong>{{ personal.use_nome }}</strong>
            <p>Email: {{ personal.use_email }}</p>
            <p>Especialidade: {{ personal.use_especialidade }}</p>
            <p>Experiência: {{ personal.use_experiencia }} anos</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}