/* fonte fina  */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* fonte grossa */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#237b9f;
}

.hidden {
    display: none;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f1f2;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.modal-header, .modal-body, .modal-content {
    background-color: #E8F1F2;
    border: none;
}


.modal-content {
    height: 90vh;
}

.modal-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 90vh;


}
.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color:#237b9f;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
}

.login-button button:hover {
    background-color: #1c6380
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.modal-header h4::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #237b9f;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group, .input-group-medidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: #6c63ff; */
}

.input-box {
    display: flex;
    flex-direction: column;
}


.title {
    /* fonte grossa */
    font-family: 'Inter', sans-serif;
}

.input-box input {
    margin: 0.6rem 0;
    margin-left: 9px;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
    width: 200px;
}

.input-box label{
    margin-left: 20px;
    font-family: "Didact Gothic", sans-serif;
}

.input-box input:hover {
    background-color: white;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    font-family: "Didact Gothic", sans-serif;
    
}

#student-inputs, #personal-inputs {
    display: flex;
    justify-content:space-between;
    display: none; /* Oculto por padrão */
    margin-bottom: 15px;

}


.input-box-student, .input-box-personal {
    flex: 1; /* Para que cada input ocupe a mesma largura */
    margin-right: 25px; /* Espaço entre os inputs */
    margin-bottom: 15px;
}

.input-box-student:last-child {
    margin-right: 0; /* Remove o espaço do último item */
}

.input-box-personal:last-child {
    margin-right: 0; /* Remove o espaço do último item */
}



.input-box-student select {
    margin: 0.6rem 0;
    margin-left: 9px;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    font-family: "Didact Gothic", sans-serif;
    width: 200px;
}


.input-box-student input:hover {
    background-color: white;
}

.input-box-student input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-student label {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #000000c0;
    font-family: "Didact Gothic", sans-serif;
    
}

.input-box-personal select {
    margin: 0.6rem 0;
    margin-left: 9px;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    font-family: "Didact Gothic", sans-serif;
    width: 200px;
}


.input-box-personal input:hover {
    background-color: white;
}

.input-box-personal input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-personal label {
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #000000c0;
    font-family: "Didact Gothic", sans-serif;
    
}

.gender-title h6 {
    /* font-family: 'Inter', sans-serif; */
    font-size: 14px;

}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    
}

.gender-group-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
    /* background-color: #c42020; */
}

.gender-input {
    display: flex;
    align-items: center;
    transform: scale(1.05);
}

select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    background-color: #fff;
}

select:hover {
    background-color:white;
}

select:focus-visible {
    outline: 1px solid #6c63ff;
}

select option {
    font-size: 0.8rem;
    color: #000;
}

.gender-input input {
    margin-right: 0.35rem;
    
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
    font-family: "Didact Gothic", sans-serif;
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.continue-button button {
    width: 50%;
    border: none;
    background-color: #237b9f;
    padding: 0.60rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Didact Gothic", sans-serif;
}

.continue-button button:hover {
    background-color: #1c6380
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*Simulação dos inputs error e success(INICIO)*/
.input-box.success input {
    border: 1px solid #4ECA64;
  }
  
  .input-box.error input {
    border: 1px solid #DB5A5A;
  }
  
  .input-box.error small {
    visibility: visible;
  }
  
  .input-box small {
    visibility: hidden;
    margin-top: 5px;
    font-size: 14px;
    color: #DB5A5A;
  }

/*Simulação dos inputs error e success(FIM)*/

@media screen and (max-width: 1560px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    /* .modal-content {
        height: 55vh;
    } */

    .modal-body {
        height: 100vh;
    }
    
    .input-group {
        flex-direction: row;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .input-group-medidas {
        flex-direction: column;
        max-height: 15rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    
    #student-inputs, #personal-inputs {
        flex-direction: row;
        justify-content: space-between;
        flex:1;
        max-height: 15rem;
        flex-wrap: nowrap;
    }

    .input-box-personal select {
        margin: 0.6rem 0;
        margin-left: 9px;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
        font-family: "Didact Gothic", sans-serif;
        width: 140px;
    }

    .input-box-student select {
        margin: 0.6rem 0;
        margin-left: 9px;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;
        font-family: "Didact Gothic", sans-serif;
        width: 140px;
    }


    select option {
        font-size: 10px;
        color: #000;
    }

    

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
