
.senha_label, .nome_label {
    display: block;
    float: left;
    margin-bottom: 6px;
    margin-left: 5px;
}

.modal-header, .modal-body{
    background-color: #E2ECED;
}

#imagem_recorte {
    margin-left: 35%;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

#imagem_recorte img {
    max-width: 50px; /* Altere o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o título */
}

.modal-header {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens do cabeçalho */
    justify-content: center; /* Centraliza horizontalmente os itens do cabeçalho */
    text-align: center; /* Centraliza o texto */
    /* flex-grow: 1; Permite que o cabeçalho ocupe todo o espaço disponível */
}

.modal-footer .btn {
    background-color: #247ba0;
    border: none; /* Remove a borda padrão */
    color: white; /* Altera a cor do texto para branco */
}

.modal-footer .btn:hover {
    background-color: #247ba0; /* Cor de fundo quando o mouse estiver sobre o botão */
}

