/* fonte fina  */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* fonte grossa */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

:root{
    --techfit-100: #e8f1f2;
    --techfit-200: #1b98e0;
    --techfit-300: #247ba0;
    --techfit-400: #006494;
    --techfit-500: #13293d;
}

* {
    font-family: "Didact Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #E2ECED;
    border-radius: 8px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    /* fonte grossa */
    font-family: 'Inter', sans-serif;
    font-size: 2.25rem;
    position: relative;
    color: var(--techfit-300);
}

#title::after {
    position: absolute;
    content: '';
    width: 8rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--techfit-300);
    bottom: 0;
    left: 0;
}

.input-box label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #cbd5e1;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 240, 247);
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}
  
.input-field i  {
    color: var(--techfit-500);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field span{
    color: var(--techfit-300);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

.input-field input {
    background-color: rgb(235, 240, 247);
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: var(--techfit-500);
    padding: 0 0.5rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus {
    outline: none;
}

#calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color:#E2ECED;
    background-color: var(--techfit-300);
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}


#result, #result2 {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    color: var(--techfit-300);
    padding: 0.75rem 0;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}


#bmi, #bmi2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.25rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color:var(--techfit-300);
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

#bmi2 span:last-child{
    font-size: 0.875rem;
    color:var(--techfit-300);
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

.normal {
    color: var(--techfit-300);
}

.attention {
    color: #dc2626;
}

#description{
   width: 15.5rem;
   /* fonte fina  */
   font-family: "Didact Gothic", sans-serif;
}

#more_info {
    text-align: center;
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

#more_info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: var(--techfit-300);
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

#more_info a:hover {
    color: #cbd5e1;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #img {
        display: none;
    }

    #container {
        width: 100%;
        height: 100%;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
        /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
    }
}

.input-box label{
    color: var(--techfit-300);
}


/* Estilos básicos do modal */
.modal {
    display: none;
    border: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    background-color: transparent;
    
}

.modal-content {
    background-color: transparent;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    color: transparent;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: transparent;
    text-decoration: none;
    cursor: pointer;
}

 /* Ajuste no layout do calculator para acomodar o botão de fechar */
 #calculator {
    position: relative;
}

