{% extends "base_personal.html" %}

{% block title %} Perfil do Personal {% endblock %}

{% block titlePage %} Perfil do Personal {% endblock %}

{% block style %}
<style>
    /* fonte fina  */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

    /* fonte grossa */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
    
    :root {
        --techfit-100: #ffff;
        --techfit-200: #006aa7;
        --techfit-300: #247ba0;
        --techfit-400: #006494;  /* Fundo escuro */
        --techfit-500: #e8f1f2;  /* Botões claros */
    }

    * {
        font-family: "Didact Gothic", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        
    body {
        background-color: var(--techfit-400);
        color: white;
    }


    .profile-page {
        display: flex;
        width: 100%;
        height: 100%;
    }

    h1 {
        text-align: left;
        color: #ffff;
        margin-bottom: 10px;
    }

    .profile-container1 {
        display: flex;
        flex-direction: column;
        background-color: #006aa7;
        color:#ffff;
        padding: 2%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 40%;
        margin-right: 30px;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        gap: 10px;
    }

    .profile-container1 h2 {
        text-align: center;
        margin-bottom: 5px;
        color:#ffff;
    }

    .profile-info1 .info-item p {
    color: #ffff;
}

    .picture {
        width: 70%; /* Mantém o tamanho do contêiner */
        height: 0; /* Altura inicial zero para usar padding */
        padding-top: 70%; /* Mantém a proporção quadrada */
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        cursor: pointer;
        transition: color 300ms ease-in-out, background 300ms ease-in-out;
        outline: none;
        overflow: hidden;
        border-radius: 50%; 
        position: relative; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #picture__input {
        display: none;
    }

    .picture:hover {
        color: #777;
        background: #ccc;
    }

    .picture:active {
        border-color: turquoise;
        color: turquoise;
        background: #eee;
    }

    .picture:focus {
        color: #777;
        background: #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .picture__img {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%; /* Para manter a imagem circular */
        object-fit: cover; 
    }

    .profile-info1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .profile-info1 .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        color: var(--techfit-200);
    }

    .profile-info1 .info-item p {
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .profile-info1 .info-item i {
        color: #ffff;
        font-size: 15px;
    }

    .profile-container2 h1 {
        color:#ffff;
       
    }

    .profile-container2 {
        display: flex;
        flex-direction: column;
        background-color: #006aa7;  /* Fundo escuro */
        color:#ffff;
        width: 100%; 
        max-width: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        padding: 20px;
        gap: 10px;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .profile-info2 {
        height: 90%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        gap: 10px; 
    }

    .info2-items {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        justify-content: center; 
        text-align: center;   
        width: 100%;
        min-height: 120px;     
        background-color: #F9F9F9;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        gap: 5px;
        flex: 1 1 calc(50% - 10px); 
        min-width: 150px; 
        max-width: calc(50% - 10px); 
        position: relative; 
    }

    .info2-buttons {
        margin-top: 10px;
        border: 2px solid;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 5px;
        width: 100px;
        text-align: center;
        font-size: 15px;
        background-color: var(--techfit-500);  /* Botões claros */
        color: var(--techfit-400);  /* Texto azul escuro */
    }

    #calculator {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        color: #f8fafc;
        border-radius: 8px;
        background-color: #006aa7;  /* Botões claros */
        color: #fff;  /* Texto azul escuro */      
    }

    #form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #title {
        /* fonte grossa */
        font-family: 'Inter', sans-serif;
        font-size: 2.25rem;
        position: relative;
        color: var(--techfit-300);
    }

    #title::after {
        position: absolute;
        content: '';
        width: 8rem;
        height: 3px;
        border-radius: 3px;
        background-color: var(--techfit-300);
        bottom: 0;
        left: 0;
    }

    .input-box label {
        font-weight: 500;
        font-size: 1.1rem;
        color: #cbd5e1;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .input-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--techfit-100);
        padding: 0.3rem;
        border-radius: 3px;
        margin-top: 3px;
    }
    
    .input-field i  {
        color: var(--techfit-300);
        font-size: 1.3rem;
        padding: 0.6rem 1rem;
    }

    .input-field span{
        color: var(--techfit-300);
        font-size: 1.3rem;
        padding: 0.6rem 1rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .input-field input {
        background-color: var(--techfit-100);
        border: none;
        width: 100%;
        font-size: 1.3rem;
        color: var(--techfit-300);
        padding: 0 0.5rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .input-field input::-webkit-outer-spin-button,
    .input-field input::-webkit-inner-spin-button {
    appearance: none;
    }

    .input-field input:focus {
        outline: none;
    }

    #calculate, #calcularAgua, #registrarTreino {
        border: none;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: var(--techfit-500);  /* Botões claros */
        color: #fff;  
        padding: 0.5rem 0;
        border-radius: 3px;
        cursor: pointer;
        width: 70%;
        margin-left: 50px;    
    }

    #result, #result2 {
        display: flex;
        gap: 2rem;
        align-items: center;
       
        margin-top: 10px;
        color: var(--techfit-300);
        padding: 2px;
        
        font-family: "Didact Gothic", sans-serif;
    }

    #bmi, #bmi2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 2.25rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #bmi span:last-child {
        font-size: 0.875rem;
        color:var(--techfit-300);
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #bmi2 span:last-child{
        font-size: 0.875rem;
        color:var(--techfit-300);
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .normal {
        color: var(--techfit-300);
    }

    .attention {
        color: #dc2626;
    }

    #description{
    width: 15.5rem;
    /* fonte fina  */
    font-family: "Didact Gothic", sans-serif;
    }

    #more_info {
        text-align: center;
        border-top: 1px solid #ffffff34;
        padding-top: 1.5rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #more_info a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        color: var(--techfit-300);
        font-size: 0.875rem;
        text-decoration: none;
        transition: color 0.5s;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #more_info a:hover {
        color: #cbd5e1;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .hidden {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        #img {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        #img {
            display: none;
        }

        #container {
            width: 100%;
            height: 100%;
            /* fonte fina  */
            font-family: "Didact Gothic", sans-serif;
        }

        #calculator {
            width: 100%;
            height: 100%;
            border-radius: 0;
            justify-content: center;
            /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
        }
    }

    .input-box label{
        color: var(--techfit-300);
    }


    /* Estilos básicos do modal */
    .modal {
        display: none; /* Esconde o modal por padrão */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
        align-items: center;
        justify-content: center;
        
    }

    #container {
        padding: 0;
    }
    

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .resultTreino, #listaDias {
        color: var(--techfit-200);
    }


    /* Ajuste no layout do calculator para acomodar o botão de fechar */
    #calculator {
        position: relative;
    }

    /* fim */

    .normal {
        color: var(--techfit-300);
    }

    .attention {
        color: #dc2626;
    }

    #description {
        width: 15.5rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #more_info {
        text-align: center;
        border-top: 1px solid #ffffff34;
        padding-top: 1.5rem;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #more_info a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        color: var(--techfit-300);
        font-size: 0.875rem;
        text-decoration: none;
        transition: color 0.5s;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    #more_info a:hover {
        color: #cbd5e1;
        /* fonte fina  */
        font-family: "Didact Gothic", sans-serif;
    }

    .hidden {
        display: none;
    }

    @media screen and (max-width: 1024px) {
        #img {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        #img {
            display: none;
        }

        #container {
            width: 100%;
            height: 100%;
            /* fonte fina  */
            font-family: "Didact Gothic", sans-serif;
        }

        #calculator {
            width: 100%;
            height: 100%;
            border-radius: 0;
            justify-content: center;
            /* fonte fina  */
            font-family: "Didact Gothic", sans-serif;
        }
    }

    .input-box label {
        color: var(--techfit-300);
    }


    .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    border: none;
   
    } 

    .modal-content {
        margin: 15% auto; 
        padding: 20px;
        width: 40%; 
        position: relative; 
    }

 
</style>
{% endblock %}

{% block content %}


<div class="profile-page">
    <div class="profile-container1">
        <form method="POST" action="{{ url_for('profile.upload_imagem') }}" enctype="multipart/form-data" class="picture">
            <label for="picture__input" tabIndex="0">
                <span class="picture__image">Escolha uma imagem</span>
                <img src="{{ url_for('profile.imagem_usuario', user_id=user_info.id) }}" alt="profile_image" class="picture__img">
            </label>
            <input type="file" name="picture_input" id="picture__input" style="display: none;" onchange="this.form.submit()">
        </form>
        <h2>Dados do {{ user_info.tipo_usuario}}</h2>
        <div class="profile-info1">
            <div class="info-item">
                <i class="fas fa-user"></i>
                <p>Nome: {{ user_info.nome }}</p>
            </div>
            <div class="info-item">
                <i class="fas fa-envelope"></i>
                <p>Email: {{ user_info.email }}</p>
            </div>
            <div class="info-item">
                <i class="fas fa-calendar-alt"></i>
                <p>Data de Nascimento: {{ user_info.data_nascimento }} </p>
            </div>
            <div class="info-item">
                <i class="fas fa-phone"></i>
                <p>Telefone: {{ user_info.telefone }}</p>
            </div>
        </div>
    </div>
    <div class="profile-container2">
        <h1>Informações</h1>
        
    </div>
</div>

{% endblock %}
